* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.alarmClock {
    width: 800px;
    height: 400px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 10px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 380px;
    height: 380px;
    background-color: aqua;
}